@font-face {
            font-family: "IntroRegular-grid";
            src: url("fonts/IntroRegular.woff");
}

@font-face {
    font-family: "RalewayBold-grid";
    src: url("fonts/RalewayBold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "RalewayExtraBold-grid";
    src: url("fonts/RalewayExtraBold.woff");
    font-weight: 800;
}

@font-face {
    font-family: "RalewayRegular-grid";
    src: url("fonts/RalewayRegular.woff");
}

.grid {
    display: grid;
}

/* Header
===================== */

.main-header {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    align-content: center;
   
}

.main-header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgb( 72, 86, 97);
    opacity: 0.8;
    z-index: 3;
}

.header-content {
    z-index: 5;
    color:rgba(255, 255, 255);
    
    text-align: center;
    padding: 60px 10px;

}

.header-content h1 {
    font-size: 60px;
    text-transform: capitalize;
    font-family: "IntroRegular-grid", sans-serif;
    font-weight: normal;
    margin: 20px 0;
    line-height: 1.5;
}

.button {
    text-decoration: none;
    color: rgba(255, 255, 255);
    font-family: "RalewayExtraBold-grid", sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    padding: 8px 65px;
    background-color: #F0650D;
    margin-right: 32px;
    transition: background-color 0.4s ease-out;
}
.button:hover {
    background-color: #b14b0b;
}
.button:last-child {
    margin-right: 0;
}

.button-grey {
    background-color: #4b5a65;
    transition: background-color 0.4s ease-out;
}

.button-grey:hover {
    background-color: #859eb4;
}

/* Portfolio
===================== */

.portfolio-section {
    padding: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;   
}

.portfolio-item {
    max-width: 100%;
         min-height: 32vh;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    align-content: center;
    text-align: center;
    padding: 0 5px;
    color: rgba(255, 255, 255);
    font-size: 22px;
    font-family: "RalewayRegular-grid", sans-serif;
    font-weight: bold;
    position: relative;
    transition: color 0.4s ease;
    cursor: pointer; 
}

.portfolio-item:hover {
    color: #F0650D;
}

/* Overlay */

.portfolio-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgb( 72, 86, 97);
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.portfolio-item:hover::before {
    opacity: 0.8;
}

        .portfolio-item span {
            z-index: 5;
        }

/* Portfolio Grid */

.portfolio-item:nth-child(1) {
    grid-column: span 2;
}

.portfolio-item:nth-child(5) {
    grid-column: span 2;
}

.portfolio-item:nth-child(6) {
    grid-column: 4;
    grid-row: span 2;
}

.button-portfolio {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    grid-column: 1 / 5;
    text-align: center;
    justify-self: center;
    margin: 15px 0 30px;
}

/* Ready content
===================== */

/*
.landing-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landing-section {
    padding: 80px 0;
    min-height: 60vh;
    background-color: #ededed;
    grid-template-columns: minmax(10rem, 0.5fr) 1fr 1fr minmax(10rem, 0.5fr);
}

.landing-text {
    grid-column: 2 / 3;
    border-right: 1px solid rgb(182, 182, 182);
    padding: 60px 60px 60px 0;
}
.landing-image {
    grid-column: 3 / 4;
    margin: 0 0 0 40px;
}

.landing-text h2 {
    font-family: "RalewayExtraBold-grid", sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

.landing-text p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

*/


